/* Creator: Jedika Sinaga
Date created: 9/13/19
Last modified: 9/13/19
*/

body {
    background-color:white;
    font-family: sans-serif;
    color: black;
    max-width: 900px;
    margin: 0 auto;
    <img src="Images/pf%20pic.jpg" width="50%" style="float:left">
} 
header, footer {
    background-image:url(https://alohaandhelloblog.files.wordpress.com/2017/06/watercolour-blog-header-turquoise.jpg?w=1024&h=390&crop=1); 
    background-size:cover;
    height: 100px;
    text-align: center;
    padding: 20px;
        
}
h1{
    font-size: 2.5em;
}
nav{
    border-bottom: dashed #ABD8D6;
    margin-top: 4px;
}

/*Contact Me Form page*/

label, fieldset {
    font-size: 1.1em;
}
input[type=text]{
    border: 2px solid dimgrey;
    width: 50%; 
    padding: 8px 8px;
    margin: 12px 0;
    box-sizing:border-box;
    font-size: 1.1em;
}
fieldset {
    background-color: white;
    width: 100%;
    padding: 0px 20px;
    margin:12px 0;
    box-sizing: 100px;
}
select, textarea {
    margin: 12px 0;
    font-size: 1em;
}
input[type=submit] {
    font-size: 1.2em;
    background-color: #546a7b;
    color: #fef9ff;
    padding: 4px 8px;
}

input[type=submit]:hover {
    background-color: #f2eded;
    color: #546a7b;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 2px solid #0d1f2d;
    border-radius: 3px;
    background-color: #fff;
    resize: none;
}