/* Creator: Jedika Sinaga
Date created: 9/16/19
Last modified: 9/16/19
*/


body {
    background-image:url(http://www.blog.kedairohani.com/foto_berita/83Kangsa-Solo-01.jpg);
   background-attachment: fixed;
    background-position:left;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: sans-serif;
    background-color: #FAFAFA;
    color: black;
    max-width: 100%;
    margin: 35px; 
   } 

#left-content {
   background-color: rgba(0,0,0,0.3);
    text-align:center;
    padding:20px;
    margin: 35px;
    
    
}

header, footer, .jumbotron { 
    background-color: rgba(0,0,0,0.3)!important;
    color:floralwhite;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 1.3em;
    margin: 35px;
}

.nav{
    color:floralwhite;;
    font-size: 1em;
}


#menuTable{
  background-color: rgba(0,0,0,0.3);
}
